body {
  background-color: #fdfdfd;
  color: #444;
  font-family: 'Nitti', monospace;
  font-size: 16px;
  line-height: 1;
  margin: 0;
  padding: 0;
  position: relative;
  text-rendering: optimizeLegibility;
  @media screen and (min-width: 720px) {
    font-size: 20px;
  }
}

html:not([class]), .tr-coretext.tr-aa-subpixel, .tr-coretext.tr-aa-unknown-subpixel {
  body {
    font-family: 'Nitti Light', monospace;
  }
}

::selection {
  background: #f5f5f5; 
}
::-moz-selection {
  background: #f5f5f5; 
}

p {
  line-height: 1.6;
  margin: 0;
  margin-bottom: 1.6em;
}

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  color: inherit; 
  outline: none;
  padding-bottom: 1px;
  text-decoration: none; 
  transition: border .2s ease-in-out;
  &[href] {
    border-bottom: 2px solid #afcaff;
    &:hover, &:active, &:focus { 
      border-bottom-color: #444;
    }
  }
  &[data-id] {
    cursor: pointer;
    border-bottom: 2px solid #ddd;
    &:hover, &:active, &:focus { 
      border-bottom-color: #ccc;
    }
  }
  &.uruguaypass {
    &:hover, &:active, &:focus { 
      border-bottom-color: #207cc7;
    }
  }
  &.twitter {
    &:hover, &:active, &:focus { 
      border-bottom-color: #55acee;
    }
  }
  &.dribbble {
    &:hover, &:active, &:focus { 
      border-bottom-color: #ea4c89;
    }
  }
  &.linkedin {
    &:hover, &:active, &:focus { 
      border-bottom-color: #0077b5;
    }
  }
}

*[data-parent]:not(.show), .hide {
  display: none;
}

.container {
  margin: 0 auto;
  max-width: 24em;
  overflow: hidden;
  padding: 60px 24px;
  @media screen and (min-height: 640px) {
    padding: 120px 24px;
  }
}